body
    background-color #3f313f
    margin opx
    font-size 14px

.margtop16
    margin-top: 16px

.box
    background-color #ffffff
    border-radius 6px
    border 1px solid #dddddd
    position  absolute
    padding 16px
    width 600px
    .btn-success
        background-color #000000
        border 0px
        width 100%
    .footer
        text-align center
        a
            display inline-block
            font-size .8em
            &:last-child
                margin-left 34px
.box_login
    left calc(50% - 300px)
    top calc(50% - 282px)

.box_register
    left calc(50% - 300px)
    top calc(50% - 282px)
    