body
  background-color #f5f6fa
  font-size 14px;
  font-family: 'Poppins', sans-serif;

h2,h3,h4,h5,ul,body,html
  padding 0px
  margin 0px

.m-top-16
  margin-top 16px

.wrapper 
  min-height 100vh
  overflow hidden
  .col1
      float left
      position relative
      z-index 999
      width 17%
  .col2
      float left
      width 83%
  
.sidebar
  background-color #fff
  min-height 100vh
  .section-top
      background-color #be4025
      box-shadow 0 0.5rem 1rem rgba(0,0,0 0.15)
  .user
      color #fff !important
      padding 16px
      a
          color #fff
          font-size 1.2em
  .main
      margin-top 8px
      ul
          li
              margin-bottom 4px
              a
                  color #000000 !important
                  display block
                  font-size 1.1em
                  padding 12px 16px
                i
                  margin-right 10px
                &:hover
                  background-color #dadbd5
                  box-shadow 0 0.5rem 1rem rgba(0,0,0 0.15)
                  text-decoration none
.navbar
    background-color #ffffff
    a
        color #000000 !important
.page
    padding-top 16px
    padding-bottom 16px
    .breadcrumb
        background-color #be4025
        box-shadow 0 0.5rem 1rem rgba(0, 0, 0, 0.10) !important
       .breadcrumb-item
          a
              color #ffffff !important
              &:hover
                  text-decoration none !important
    .panel
        background-color #ffffff
        border-radius 6px
        border-bottom 2px solid #dadbd5
        width 100%
        .header
            border-bottom 1px solid #e8o8o8
            h2.title
              display inline-block
              color #000000
              font-size 1.1em
              padding 12px 16px
        .inside
            padding 16px
.options
    a
        border-radius 4px
        display inline-block
        padding 9px
          
               
                  
                 



 /*#wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
.container-fluid
  width 100%

.panel
    border-radius 8px
    border-bottom 2px solid #fff4
    width 100%
    .header
      border-bottom 1px solid #fff4
      h1.title
        display inline-block
        font-size 1.1em
        padding 12px 16px
    .inside
      padding 16px */